header{
    color: rgb(37, 87, 39);
    padding: 2px;
    display: flex;
}
main {
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: rgb(37, 87, 39);
    margin: 2px;
    padding: 15px;
}
body{
    background-color: rgb(188, 199, 189);
    color: rgb(37, 87, 39);
}
footer{

}
